---
title: Website title
description: Website description
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel='stylesheet' href='/assets/styles/index.css'>
</head>

<body>
  <header>Header</header>
  
  {{ content | safe }}
  
  <footer>Footer</footer>

  <script src='/assets/scripts/main.js'></script>
</body>
</html>
